[Unit]
Description=Update jenkins
After=network.target

[Service]
User=jenkins
Group=jenkins
Type=oneshot
ExecStart=/usr/bin/update-jenkins -u your-user -p your-token --all-update

[Install]
WantedBy=multi-user.target
